.postsBlock {

  h3 {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
    text-transform: uppercase;

    span {
      font-weight: normal;
    }
  }

  textarea {
    width: 220px;
    height: 60px;
    padding: 5px;
    margin: 5px 0;
    border: gray 1px solid;
    border-radius: 3px;
  }

  button {
    display: block;
    padding: 5px;
    box-shadow: 1px 1px 2px;
    border-radius: 2px;
    font-size: .8rem;

    &:active {
      position: relative;
      top: 1px;
      left: 1px;
      box-shadow: 0 0 0;
    }
  }
}