@import '../../assets/styles/colors';

.header {
  display: flex;
  align-items: center;
  height: 70px;
  grid-area: h;
  background-color: $mainColorD;

  .logoWrapper {
    width: 60px;
    height: 60px;
    padding: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .logoTitle h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;

    span {
      font-weight: bold;
      color: $secondaryColorL;
    }
  }
}