@import 'shared/colors';

.footerWrapper {
  height: 40px;
  background-color: $secondaryColor;
  grid-area: f;
  color: white;
  padding: 13px;
  display: flex;
  align-items: center;


  .copyright {
    font-size: .9rem;
    font-weight: 300;
  }
}