.profileInfoWrapper .profileInfoTop {
  width: 100%;
  height: 200px;
  background: url("https://www.wallpapertip.com/wmimgs/83-838172_programming-javascript.jpg") no-repeat;
  background-position-y: -110px;
  background-size: cover;
}

.descriptionBlock {
  padding: 10px;
}
