@import 'assets/styles/reset';
@import 'assets/styles/colors';

@font-face {
  font-family: 'Roboto Condensed';
  font-display: swap;
  src: local('Roboto Condensed'), local('Roboto'),
  url('assets/fonts/RobotoCondensed-Light.eot?') format('eot'),
  url('assets/fonts/RobotoCondensed-Light.woff') format('woff'),
  url('assets/fonts/RobotoCondensed-Light.ttf') format('truetype'),
  url('assets/fonts/RobotoCondensed-Light.otf') format('opentype'),
  url('assets/fonts/RobotoCondensed-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  font-display: swap;
  src: local('Roboto Condensed'), local('Roboto'),
  url('assets/fonts/RobotoCondensed-Regular.eot?') format('eot'),
  url('assets/fonts/RobotoCondensed-Regular.woff') format('woff'),
  url('assets/fonts/RobotoCondensed-Regular.ttf') format('truetype'),
  url('assets/fonts/RobotoCondensed-Regular.otf') format('opentype'),
  url('assets/fonts/RobotoCondensed-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: swap;
  src: local('Roboto Condensed'), local('Roboto'),
  url('assets/fonts/RobotoCondensed-Bold.eot?') format('eot'),
  url('assets/fonts/RobotoCondensed-Bold.woff') format('woff'),
  url('assets/fonts/RobotoCondensed-Bold.ttf') format('truetype'),
  url('assets/fonts/RobotoCondensed-Bold.otf') format('opentype'),
  url('assets/fonts/RobotoCondensed-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

button {
  user-select: none;
}

.app-wrapper {
  position: relative;
  max-width: 940px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 2px;
  grid-template-areas:
          'h h'
          'n c'
          'f f';
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  overflow: hidden;
}

.app-wrapper-content {
  grid-area: c;
  padding: 10px;
  background-color: $mainColor;
  color: white;
}